
.c-nav-link {
	padding: 0 1rem;
}

.c-nav-link .nav-icon {
	padding-right: 0.5rem;
	fill: #95999D;
}

.c-nav-link.active .nav-icon {
	fill: #297EF2;
}

@media (max-width: 63.9375rem) {
	.c-nav-link {
		padding: 0;
	}

	.c-nav-link.active {
		color: #297EF2;
	}

	.c-nav-link .nav-icon {
		display: block;
		padding: 0;
		width: 1.15rem;
		height: 1.15rem;
		margin: auto;
		margin-bottom: 0.25rem;
	}
}
