.hello-cat-hello1, .hello-cat-hello2, .hello-cat-hello3 {
	background: var(--icon-nav) no-repeat 1.5em center/1em;
}

.hello-cat-hello1.active, .hello-cat-hello2.active, .hello-cat-hello3.active {
	background-image: var(--icon-nav-active);
}

@media (max-width: 63.9375rem) {
	.c-nav-link {
		padding-left: 0;
		padding-top: 2em;
	}

  .hello-cat-hello1, .hello-cat-hello2, .hello-cat-hello3 {
  	background: no-repeat center top/16px var(--icon-nav-mobile);
  }

  .hello-cat-hello1.active, .hello-cat-hello2.active, .hello-cat-hello3.active {
    background-image: var(--icon-nav-mobile-active);
  }
}
